0.0.0.0:2015

root /site/

gzip
ext .html

rewrite {
    r "/(.+)"
    if {path} not_match /static
    if {path} not_match /favicon.ico
    to /api/{uri}
}

proxy /api http://backend:3000 {
    without /api
}

log stdout
